{% extends "layout.html" %}

{% block content %}

<div class="mb-6 text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Poll Details</h1>
</div>

<div class="flow-root rounded-lg border border-gray-100 py-3 shadow-xs">
    <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Poll Question</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ poll.question }}</dd>
        </div>
        <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Publish Date</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ poll.pub_date }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Deadline Date</dt>
            <dd class="text-gray-700 sm:col-span-2">{{ poll.deadline }}</dd>
        </div>
    </dl>
</div>

<div class="mb-6 text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Choices of the poll</h1>
</div>

<div class="flow-root rounded-lg border border-gray-100 py-3 shadow-xs">
    <dl class="-my-3 divide-y divide-gray-100 text-sm">
        {% for choice in choices %}
            <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">{{ choice.choice_text }}</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ choice.votes }}</dd>
            </div>  
        {% endfor %}
    </dl>
</div>

<div class="mb-6 text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Poll Results</h1>
    <div class="chart-container">
        <canvas id="pollResultsChart"></canvas>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const choiceTexts = {{ choice_texts|safe }};
        const voteCounts = {{ vote_counts|safe }};
        initializeChart(choiceTexts, voteCounts);
    });
</script>

{% endblock %}